<footer id="footer" class="site-footer">
  <div class="container">
    <div class="block contact">
      <h4 class="divot">contacts</h4>

      {{ siteOptions.footerInfo.contact }}

      {% if siteOptions.footerInfo.links|length %}
        <ul class="footer-links">
        {% for link in siteOptions.footerInfo.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}
              <svg class="sprite sprite-arrow" aria-hidden="true"><use xlink:href="#sprite-arrow"/></svg>
            </a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="logo">
      <div class="divot"></div>
      <div class="logo-stacked">
        <a href="/">
          <img src="/assets/dist/images/cgre-logo-left-aligned.svg" alt="CGRE logo">
        </a>
      </div>
    </div>
  </div>
</footer>

<script async src="{{ rev('/scripts/manifest.js') }}"></script>
<script async src="{{ rev('/scripts/vendor.js') }}"></script>
<script async src="{{ rev('/scripts/main.js') }}"></script>
