<div class="grantees page-section">
  <div class="container">

    <h4>organizations currently funded</h4>

    {% set grantees = craft.entries.section('grantees').organizationType('state').orderBy('title').all() %}
    {% if grantees|length %}
      <h3>State-based Partners</h3>
      <ul class="grantees -state">
      {% for grantee in grantees %}
        <li{{ grantee.granteeUrl ? ' class="-has-url"' : ''}}>
          {% if grantee.granteeUrl %}
            <a rel="noopener" target="_blank" href="{{ grantee.granteeUrl }}"><span>{{ grantee.title }}</span> <svg class="sprite sprite-external-link-clean" aria-hidden="true"><use xlink:href="#sprite-external-link-clean"/></svg></a>
          {% else %}
            <span class="-a">{{ grantee.title }}</span>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endif %}

    {% set grantees = craft.entries.section('grantees').organizationType('national').orderBy('title').all() %}
    {% if grantees|length %}
      <h3>National-based Partners</h3>
      <ul class="grantees -state">
      {% for grantee in grantees %}
        <li{{ grantee.granteeUrl ? ' class="-has-url"' : ''}}>
          {% if grantee.granteeUrl %}
            <a rel="noopener" target="_blank" href="{{ grantee.granteeUrl }}"><span>{{ grantee.title }}</span> <svg class="sprite sprite-external-link-clean" aria-hidden="true"><use xlink:href="#sprite-external-link-clean"/></svg></a>
          {% else %}
            <span class="-a">{{ grantee.title }}</span>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endif %}

  </div>
</div>
