<div class="grantees page-section">
  <div class="container">

    <h4>organizations currently funded</h4>

    {% set grantees = craft.entries.section('grantees').organizationType('state').all() %}
    {% if grantees|length %}
      <h3>State-based Partners</h3>
      <ul class="grantees -state">
      {% for grantee in grantees %}
        <li>
          {{ grantee.title }}
        </li>
      {% endfor %}
      </ul>
    {% endif %}

    {% set grantees = craft.entries.section('grantees').organizationType('national').all() %}
    {% if grantees|length %}
      <h3>National-based Partners</h3>
      <ul class="grantees -state">
      {% for grantee in grantees %}
        <li>
          {{ grantee.title }}
        </li>
      {% endfor %}
      </ul>
    {% endif %}

  </div>
</div>
