// Buttons

%button,
.button {
  @include h4-mobile;
  font-size: 12px;
  display: inline-block;
  text-align: left;
  line-height: 1.4;
  margin: 0;
  // Make space for -> icon
  padding: grid(1.5) grid(12) grid(1.5) grid(1);
  position: relative;
  width: 100%;
  border: 1px solid color(teal);
  background: transparent;
  color: color(teal);
  align-items: center;
  text-decoration: none;
  line-height: 1;
  @include transition(background);
  svg {
    @include transition(all);
    position: absolute;
    top: 50%;
    right: grid(5);
    transform: translate(0, -50%);
    fill: color(teal);
  }

  &:focus,
  &:hover {
    svg {
      transform: translate(100%, -50%);
      fill: color(white);
    }
    background: color(red);
    background-size: 53px 16px !important;
    color: color(white);
    text-decoration: none;
    outline: none;
    border: 1px solid color(white);
  }
  &:active {
    box-shadow: 0 0 0 rgba(0,0,0,0.25);
    transform: translateY(1px);
  }

  svg {
    vertical-align: top;
    width: 24px;
    height: 24px;
  }

  @include media-md {
    @include h4;
    padding: grid(2) grid(10) grid(2) grid(3);
  }
}
