// Page headers

// Text headers
.text-header {
  margin-top: grid(5);
  @include media-md {
    margin-top: grid(14);
  }
}

// Image headers
.image-header {
  @include clearfix;
  h3.divot {
    color: color(pink);
  }
  .user-content {
    ul li {
      &::before {
        background: url('/assets/dist/images/bullet.svg');
      }
    }
  }

  // Mobile-only styles
  @include max-screen($breakpoint-md) {
    // Pull out image header bg
    .container:first-child {
      // Make room at bottom for pos:abs image + lines
      margin: grid(-2) grid(-2) calc(50vw + #{grid(5)}) grid(-2);
      .wrap {
        padding: grid(2) grid(2) 40vw;
      }
    }
    .image-wrap {
      width: calc(100vw - #{grid(6)});
      position: absolute;
      top: calc(100% - 35vw);
    }

    .lines.-two {
      width: 30px;
      position: absolute;
      top: calc(100% + 20px);
      right: 0;
    }
  }

  .wrap {
    background: color(darkgray);
    color: color(lightgray);
    position: relative;

    @include media-md {
      width: columns(8);
      margin: grid(8) columns(-1);
      padding: grid(5) columns(2) grid(6) columns(1);
      h2.h1 {
        margin: 50px 0;
      }
      .image-wrap {
        img {
          display: block;
        }
        position: absolute;
        bottom: 0;
        width: columns(5,8);
        left: calc(100% - #{columns(1)});

        .lines.-one {
          width: columns(4, 5);
          position: absolute;
          left: 0;
          bottom: 100%;
        }
      }
      .lines.-two {
        width: 80px;
        position: absolute;
        top: calc(100% + #{grid(3)});
        left: columns(3);
      }
    }
  }
}