// Page blocks

.page-blocks {
  > .container {
    display: flex;
    flex-wrap: wrap;
  }
  [class^="block-"] + [class^="block-"] {
    padding-top: grid(2);
    @include media-md {
      padding-top: grid(8);
    }
  }
}

// Full width/half width areas
.block-text,
.block-quote,
.block-image {
  flex: 0 1 100%;
  img {
    width: 100%;
    display: block;
    max-width: none;
  }

  @include media-md {
    h2 {
      @include h1;
    }
    &.fullWidth {
      h2 {
        padding-right: columns(1);
      }
      p.cta {
        width: columns(4);
      }
    }
    &.halfWidthOnTheRight {
      > .-inner {
        width: columns(4);
        float: right;
      }
    }
    &.halfWidthOnTheLeft {
      > .-inner {
        padding-right: calc(#{columns(5)} + #{$global-padding});
      }
    }
    &.halfWidth {
      // clear: none;
      flex: 0 1 50%;
    }
  }
}

// Text block grids
.block-text-grid {
  @include media-md {
    // padding: grid(10) 0;
    margin-left: columns(2);
    p {
      @include p3;
    }
    .text-block {
      padding-right: grid(5);
    }
  }
}