// Shared components

// Shared page section styles
.page-section {
  @include clearfix;
  padding: grid(5) 0 grid(4);

  .staggered-image {
    position: relative;
    z-index: z(image-front);
  }

  // Large headers
  .user-content h2,
  h2.h1 {
    @include h1;
    margin: grid(1) 0 grid(2);
  }
  h4 {
    @include h4-mobile;
  }
  p {
    @include p3;
  }

  // Desktop styles
  @include media-md {
    // padding: grid(10) 0;
    .user-content h2,
    h2.h1 {
      margin: grid(5) 0 grid(5);
    }
    h4 {
      @include h4;
    }
    p {
      @include p1;
    }
  }
}

// CTA p
p.cta {
  a {
    @extend %button;
  }
  margin-top: grid(3);

  @include media-md {
    margin-top: grid(5);
  }
}

// Big ol' stats
.stats {
  .figure {
    dt {
      @include stat;
      margin: 0;
      .qualifier {
        .sprite {
          width: 20px;
          height: 30px;
          vertical-align: middle;
        }
      }
      .percent {
        font: normal 30px/30px $font-sans-serif;
      }
    }
    dd {
      @include p2;
    }
  }

  @include media-md {
    display: flex;
    flex-flow: row wrap;
    .figure {
      flex: 0 1 columns(3);
      padding-right: $global-padding;
      dt {
        margin: 0 0 grid(2);
        .percent {
          font-size: 42px;
        }
      }
      dd {
        @include p1;
      }
    }
  }

}


div.divot {
  display: block;
  width: 50px;
  height: 5px;
  background: #fff;
  margin: 0px 0 20px;
}
@media screen and (min-width: 750px) {
  div.divot {
    width: 80px;
    height: 10px;
  }
}

h4.divot,
h3.divot {
  &::after {
    content: '—';
    display: block;
  }
}
h3.divot {
  font-size: 14px;
  @include media-md {
    font-size: 18px;
  }
}

// Wrappers around buttons
.actions {
  padding: grid(2) 0;
}

// Decorative lines (switched to HTML instead of SVGs)
.lines {
  position: absolute;
  &.-reveal {
    // Disable image reveal transitions for lines container
    opacity: 1;
    transform: none;
    transition: none;
    @include media-md {
      transform: none;
    }
  }
  // Each <i> is a line
  i {
    display: block;
    border-top: 1px solid color(pink);
    + i {
      margin-top: 29px;
    }
    opacity: 0;
    will-change: opacity;
  }
  &.-active {
    i {
      animation: fadeIn 0.25s linear;
      animation-fill-mode: forwards;
    }
  }
  &.-large i + i {
    margin-top: 59px;
  }
  &.-yellow i {
    border-color: color(yellow);
  }
  &.-lightgray i {
    border-color: color(lightgray);
  }

  // Staggered reveal animation
  @for $i from 1 through 20 {
    i:nth-child(#{$i}) {
      animation-delay: #{0.5 + 0.05 *  $i}s;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

// Image reveals
.-reveal {
  opacity: 0;
  transform: translate3d(0, 50%, 0);
  transition: transform 1.25s $cubic-ease2, opacity 0.5s $cubic-ease2;
  will-change: transform, opacity;

  &.-delay {
    transition: transform 2s $cubic-ease2, opacity 0.5s $cubic-ease2;
  }

  @include media-md {
    transform: translate3d(0, 30%, 0);
  }

  &.-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

