// Variables

// Colors
$colors: (
	"black": #000,
	"white": #fff,
	"red": #FC4F60,
	"teal": #004450,
	"yellow": #FCAF17,
	"violet": #5759BC,
	"lavender": #DCD3DE,
	"lightgray": #DEE2DF,
	"offwhite": #E5E5E5,
	"coolgray": #F6F8F3,
	"plum": #8E0B54,
);
@function color($color-name) {
  @return map-get($colors, #{''+$color-name+''});
}

// Breakpoints
$breakpoint-sm: 400px;
$breakpoint-md: 750px;
$breakpoint-nav: 960px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;

// Container width (max-width main content containers)
$container-width: 980px;

// Z-index maps
$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  lines-back: 10,
  image-back: 20,
  image-front: 30,
  lines-front: 40,
  header: 50,
  nav: 100,
  modal: 1000
);
@function z($key) {
  @return map-get($z-layers, $key);
}

// Custom cubic easings
$cubic-ease1: cubic-bezier(0.77, 0, 0.175, 1);
$cubic-ease2: cubic-bezier(0.165, 0.84, 0.44, 1);

// Base transition styles using @include transition(property)
$transition-duration: 0.2s;
$transition-easing: $cubic-ease1;
