// About Us

body.page-about {
  @include page-colors(lightgray, teal, pink);

  // Override divot color
  .page-blocks {
    div.divot {
      background: color(red);
    }
  }

  // Dark header bg = light bullets
  .image-header .user-content {
    ul li {
      &::before {
        background: url('/assets/dist/images/bullet-lightgray.svg');
      }
    }
  }

  // Logo color
  .header .logo svg {
    fill: color(teal);
  }

  // Mobile-only styles
  @include max-screen($breakpoint-md) {
    .history-values {
      .lines.-two {
        margin-top: grid(4);
        width: 30px;
      }
    }
  }

  // Positions
  .positions {
    margin: grid(4) 0;
    ul {
      margin: grid(2) 0 0;
      li {
        a {
          @include p3;
          display: flex;
          flex-flow: row nowrap;
          border-top: 1px solid color(red);
          border-bottom: 1px solid color(red);
          @include transition(all);
          &:focus,
          &:hover {
            outline: none;
            background: color(teal);
            border-color: color(teal);
            color: color(coolgray);
            svg {
              stroke: color(coolgray);
            }
          }
          span {
            padding: 10px;
            flex: 1;
            &.icon {
              flex: 0 1 20px;
              align-self: center;
            }
          }
        }
        svg {
          @include transition(stroke);
          width: 13px;
          height: 13px;
          stroke: color(teal);
          vertical-align: middle;
        }
        + li a {
          border-top: none;
        }
      }
    }

    @include media-md {
      margin: grid(8) 0 grid(4);
      ul {
        li {
          a {
            padding: grid(1) 0;
          }
        }
      }
    }
  }

  // Footer outro
  .footer-outro {
    background: color(coolgray);
    color: color(teal);
    h3.divot {
      color: color(red);
    }
    .lines.-one {
      display: block;
      i {
        border-color: color(red);
        &:nth-child(n+10) {
          display: none;
        }
      }
    }
  }
}

// History + Values
.history-values.page-section {
  @include clearfix;
  h3.divot {
    color: color(red);
  }

  // Logos block
  .logos {
    padding: grid(2) 0;
    ul {
      margin: 0 -20px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      li {
        flex: 0 1 50%;
        padding: 10px 20px;
      }
    }
    @include media-md {
      ul {
        li {
          flex: 0 1 20%;
        }
      }
    }
  }

  .outro {
    @include media-md {
      margin: grid(5) 0;
      width: columns(5);
      margin-left: columns(5);
    }
  }

  .lines.-two {
    position: relative;
    @include media-md {
      width: columns(1);
      margin-left: columns(5);
    }
  }

  // Mobile-only styles
  @include max-screen($breakpoint-md) {
    // Pull out image header bg
    .container:first-child {
      margin: grid(-2) grid(-2) 50vw grid(-2);
      .wrap {
        padding: grid(2) grid(2) 40vw;
      }
    }
    .image-wrap {
      width: calc(100vw - #{grid(6)});
      position: absolute;
      top: calc(100% - 35vw);
    }
  }


  // Opposite layout of .image-header
  .wrap {
    background: color(teal);
    color: color(lightgray);
    position: relative;

    @include media-md {
      width: columns(8);
      margin: grid(2) columns(-1) grid(6) columns(3);
      padding: grid(7) columns(1) grid(6) columns(2);
      .image-wrap {
        img {
          display: block;
        }
        position: absolute;
        bottom: 0;
        width: columns(5,8);
        right: calc(100% - #{columns(1)});

        .lines.-one {
          width: columns(4, 5);
          position: absolute;
          right: 0;
          bottom: 100%;
        }
      }
      .header-wrap {
        width: columns(4.5, 5);
      }
      .body-wrap {
        width: columns(4.5, 5);
        p {
          @include p3;
        }
      }
      .lines.-two {
        width: columns(1);
        position: absolute;
        top: calc(100% + #{grid(3)});
        left: columns(-2);
      }
    }
  }
}

// Our Team
.our-team {
  background: color(teal);
  color: color(lightgray);
  h3.divot {
    margin-bottom: grid(4);
  }
  h3.name,
  h4 {
    color: color(yellow);
  }
  h4.divider {
    margin: grid(2) 0;
    padding-bottom: grid(2);
    border-bottom: 1px solid color(coolgray);
  }

  // Staff
  .person {
    p {
      @include p2;
      + p {
        margin-top: grid(2);
      }
    }
    .bio {
      margin-top: grid(2);
    }
    margin-bottom: grid(3);
    &::after {
      content: '';
      display: block;
      width: 15px;
      border-top: 1px solid color(yellow);
      height: 1px;
      margin: grid(3) 0;
    }
    &.-thanks {
      &::after {
        display: none;
      }
    }
  }
  // Our Committee
  .committee {
    margin-top: grid(6);
    @include p4;
    ul {
      columns: 225px 2;
      column-gap: $gutter;
      li {
        display: block;
      }
    }
    a {
      @include inline-link(span);
      display: inline-block;
      padding: 5px 0;
      svg {
        width: 12px;
        height: 12px;
        stroke: color(coolgray);
        vertical-align: bottom;
        margin: 0 0 2px 3px;
      }
    }

    // Desktop styles
    @include media-md {
      ul {
        padding-right: columns(4);
      }
    }
  }

  // Desktop styles
  @include media-md {
    h3.divot {
      margin-bottom: grid(8);
    }
    .people {
      columns: 2;
      column-gap: $global-padding;
      .person {
        break-inside: avoid;
        margin-bottom: grid(6);
        // Remove mobile divider
        &::after {
          display: none;
        }
        // Add divider above bio
        .bio::before {
          content: '';
          display: block;
          width: 15px;
          border-top: 1px solid color(yellow);
          height: 1px;
          margin: grid(3) 0;
        }
      }
    }
  }

}
