// Contact

.page-contact {
  @include page-colors(lavender, plum, plum);

  // Plum it up
  .page-header {
    color: color(plum);
  }
  // Teal logo
  .header .logo svg {
    fill: color(teal);
  }

  // Form wrapper
  .form-wrap {
    padding-top: grid(2);
    .button {
      color: color(plum);
      border-color: color(plum);
      svg {
        fill: color(plum);
      }
      &:hover,
      &:focus {
        border-color: color(coolgray);
        background: color(teal);
        color: color(coolgray);
        svg {
          fill: color(coolgray);
        }
      }
    }

    // Form feedback
    .form-response {
      display: none;
      p {
        @include p3;
        border: none;
        background: none;
        color: color(plum);
        padding: 0;
        &::before {
          content: '';
          display: block;
          width: 46px;
          height: 4px;
          background: color(red);
          margin: 0 0 grid(3);
        }
      }
      // Response text shown after submit
      &.-active {
        display: block;
        margin: grid(6) 0;
      }

      // Desktop styles
      @include media-md {
        &.-active {
          margin: grid(10) 0 0;
        }
        p {
          @include p1;
          padding: 0 0 grid(8) columns(4, 8);
          &::before {
            width: 80px;
            height: 10px;
            margin: 0 0 grid(5);
          }
        }
      }
    }

    form {
      @include transition(max-height);
      width: 100%;
      overflow: hidden;
      max-height: 1500px;
    }

    // Successfully submitted form
    &.-success {
      padding-top: 0;
      form {
        max-height: 0;
      }
    }

    // Required note about captcha with links to privacy policy
    .captcha-note {
      font-size: 10px;
      margin-top: 30px;
      color: color(plum);
      a {
        @include inline-link;
      }
    }
  }

  // Form buttons
  .actions {
    text-align: right;
  }
  // Initial textarea height
  textarea {
    height: 150px;
  }

  // Footer
  .footer-outro {
    background: color(plum);
    color: color(coolgray);
    &,
    h3.divot {
      color: color(coolgray);
    }
    .header-wrap {
      width: columns(5);
    }
    h2.h1 {
      color: color(coolgray);
    }
    p.cta {
      a {
        border-color: color(coolgray);
        color: color(coolgray);
        &:hover {
          color: color(coolgray);
        }
      }
    }
    .wrap {
      margin: 0;
      padding: 0;
    }
  }

  footer.site-footer {
    div.divot {
      background: color(plum);
    }
  }

  // Desktop styles
  @include media-md {
    .page-header {
      .header-wrap {
        width: columns(5);
      }
    }
    // SVG along left edge
    .lines {
      display: block;
      width: 70px;
      position: absolute;
      left: 50%;
      top: grid(6);
      transform: translate(-50vw, 0);
      i {
        border-color: color(teal);
      }
    }
    .grid-wrap {
      margin: 0 -10px;
      .one-half {
        padding: 0 10px;
      }
    }
    // Adjust form layout for desktop
    .form-wrap {
      padding: grid(14) 0 grid(12) columns(2);
    }
    .body-wrap {
      width: columns(3);
    }

    // Taller textarea
    textarea {
      height: 220px;
    }

    // Line up submit button with form fields
    .actions {
      .button {
        width: calc(50% - #{$gutter / 2});
      }
    }
  }

}
