// Focus Areas

body.page-focus-areas {
  @include page-colors(teal, white, yellow);
  color: color(lightgray);
  .header .logo svg {
    fill: color(yellow);
  }
  h3 {
    color: color(yellow);
  }

  .header {
    .hamburger svg {
      fill: color(yellow);
    }
  }

  // Make room for lines on desktop
  .page-section.focus-areas {
    @include media-md {
      padding-top: grid(7);
      padding-bottom: grid(25);
    }
  }

  // Intro headers to Focus Areas
  .focus-areas-header {
    .header-wrap {
      margin-top: grid(-2);
      .lines {
        width: 30px;
        position: relative;
        margin-bottom: grid(3);
      }
    }

    @include media-md {
      .header-wrap {
        width: columns(5);
        margin-top: 0;
        .lines {
          display: none;
        }
      }
    }
  }

  // Focus areas
  .focus-area {
    @include clearfix;
    h2 {
      color: color(yellow);
    }

    // Large headers
    h2 {
      @include h1;
      margin: grid(1) 0 grid(2);

      @include media-md {
        margin: grid(5) 0 grid(5);
      }
    }
    p {
      @include p3;

      @include media-md {
        @include p1;
      }
    }

    .lines {
      display: none;
      @include media-md {
        display: block;
      }
    }

    //////////////////////////
    // focus 01
    &.-number-1 {
      > h2 {
        width: columns(6);
      }
      .image-wrap {
        margin: grid(3) 0 grid(2);
      }

      // Desktop styles
      @include media-md {
        .lines {
          width: 270px;
          left: columns(-1, 4);
          top: grid(-12);
        }
        .image-wrap {
          float: left;
          width: columns(4);
          margin: grid(20) 0 0 columns(1);
        }
        .body-wrap {
          margin-top: grid(27);
          width: columns(4);
          float: right;
        }
      }
    }

    //////////////////////////
    // focus 02
    &.-number-2 {
      .lines {
        width: 180px;
        right: columns(-1, 4);
        top: grid(-9);
      }

      .image-wrap {
        margin: grid(5) 0 grid(2) 0;
      }

      // Desktop styles
      @include media-md {
        .body-wrap {
          margin-top: grid(32);
          width: columns(4);
          float: left;
        }
        .image-wrap {
          width: columns(4);
          margin: grid(22) columns(1) 0 columns(1);
          float: right;
        }

      }
    }

    //////////////////////////
    // focus 03
    &.-number-3 {
      .image-wrap {
        margin: grid(4) 0 grid(2) 0;
      }

      // Desktop styles
      @include media-md {
        .lines {
          width: 290px;
          left: columns(-1, 4);
          bottom: -119px;
        }
        .body-wrap {
          margin-top: grid(31);
          width: columns(4);
          float: right;
        }
        .image-wrap {
          float: left;
          width: columns(4);
          margin: grid(18) columns(1) 0 columns(1);
        }
      }
    }
  }

  // Footer
  .footer-outro {
    background: color(yellow);
    &,
    h3.divot {
      color: color(teal);
    }
    .user-content {
      h2,
      h3,
      h4 {
        color: color(teal);
      }
    }
    .header-wrap {
      margin-bottom: grid(2);
      padding-right: $global-padding;
      @include media-md {
        width: columns(5);
      }
    }
    h2.h1 {
      color: color(white);
    }
    p.cta {
      a {
        border-color: color(teal);
        color: color(teal);
        &:hover {
          color: color(white);
        }
      }
    }
  }

  // Footer
  footer.site-footer {
    div.divot {
      background: color(yellow);
    }
  }

}
