// General pages (/privacy, /solidarity, /404 etc)

.page-404 {
  #footer {
    margin-top: grid(4);
    @include media-md {
      margin-top: grid(10);
    }
  }
}

.general-page {
  div.divot {
    background: color(red);
  }
  // Keep text readable with ~70-80 chars per line
  .page-blocks .-inner {
    max-width: 675px;
  }

  // Disable reveals
  .-reveal {
    opacity: 1;
    transform: none;
  }

  // Space out header
  .text-header {
    div.divot {
      margin-bottom: grid(4);
    }
  }
  .user-content {
    h2 {
      margin-top: 40px;
    }
  }

  // Desktop styles
  @include media-md {
    .text-header {
      div.divot {
        margin-bottom: grid(6);
      }
    }
    .user-content {
      ol,
      ul,
      p {
        @include p3;
        strong {
          letter-spacing: 0;
        }
      }
      h2 {
        @include h2;
        font-weight: bold;
        letter-spacing: -0.02em;
      }
    }
  }

}
