// General pages (/privacy, /solidarity, /404 etc)

.general-page {
  div.divot {
    background: color(red);
  }
  // Keep text readable with ~70-80 chars per line
  .page-blocks .-fullWidth .-inner {
    max-width: 675px;
  }

  // Disable reveals
  .-reveal {
    opacity: 1;
    transform: none;
  }

  // Space out header
  .text-header {
    div.divot {
      margin-bottom: grid(4);
    }
  }
  .user-content {
    h2 {
      margin-top: 40px;
    }
  }

  // Desktop styles
  @include media-md {
    .text-header {
      div.divot {
        margin-bottom: grid(6);
      }
    }

    // Keep text small on privacy policy
    &.page-privacy-policy {
      .user-content {
        ol,
        ul,
        p {
          @include p3;
          strong {
            letter-spacing: 0;
          }
        }
        h2 {
          @include h2;
          font-weight: bold;
          letter-spacing: -0.02em;
        }
      }
    }
  }

}
