// Grants

body.page-grants {
  @include page-colors(yellow, white, white);

  .page-blocks {
    background: color(yellow);
    div.divot {
      background: color(white);
    }
    &,
    h3 {
      color: color(teal);
    }
  }

  // Logo color
  .header .logo svg {
    fill: color(teal);
  }

  // Grantees
  .grantees,
  .proposals {
    background: color(coolgray);
  }

  // Proposals
  .proposals {
    h3.divot {
      color: color(yellow);
    }
  }

  // Image header
  .image-header {
    .wrap {
      background: color(coolgray);
      color: color(teal);
      h3.divot {
        color: color(teal);
      }
      .lines i {
        border-color: color(teal);
      }
    }
  }

  h3 {
    color: color(yellow);
  }

  // Grantees block
  .grantees {
    padding-top: grid(1);
    h4 {
      padding: grid(2) 0;
      border-top: 1px solid color(teal);
    }
    h3 {
      @include h3-mobile;
      color: color(teal);
    }
    ul {
      @include p3;
      margin: 0;
      li {
        margin: 0;
        padding: grid(1);
        + li {
          border-top: 1px solid color(yellow);
        }
      }
      // Space between state/national lists
      + h3 {
        margin-top: grid(4);
      }
    }
    a {
      @include inline-link();
      display: inline-block;
      padding: 5px 0;
      svg {
        margin: 0 0 1px 5px;
        width: 12px;
        height: 12px;
        stroke: color(teal);
        vertical-align: bottom;
      }
    }

    // Desktop styles
    @include media-md {
      h4 {
        padding: grid(2) 0 grid(6);
      }
      h3 {
        @include h3;
      }
      ul {
        margin: grid(2) 0;
        columns: 2;
        li {
          + li {
            border-top: none;
          }
          border-bottom: 1px solid color(yellow);
          padding: grid(2) grid(1);
        }
        // Space between state/national lists
        + h3 {
          margin-top: grid(10);
        }
      }
    }
  }

}
