// Homepage

body.page-home {
  // Non-nav-stuck header is different height on homepage
  &:not(.nav-stuck) .header {
    height: grid(10);
  }
  &.nav-stuck {
    #top {
      // Offset for header height when nav is fixed
      margin-top: grid(10);
      @include media-nav {
        margin-top: 52px;
      }
    }
    @include media-nav {
      .header .logo {
        width: 80px;
        height: 23px;
      }
    }
  }
  // Homepage gets different logo
  .header {
    .hamburger svg {
      fill: color(red);
    }
    .logo {
      width: 205px;
      height: 59px;
      svg {
        fill: color(red);
      }

      @include media-nav {
        width: 354px;
        height: 103px;
      }
    }
  }

  .wrap {
    @include clearfix;
  }
  .image-wrap {
    position: relative;
  }
  .staggered-image {
    display: block;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  // Page blocks
  .page-blocks {
    background: color(lightgray);
    div.divot {
      background: color(red);
    }
    @include media-md {
      padding-top: grid(12);
    }
  }

  // Footer outro overrides
  .footer-outro {
    .stats {
      dt {
        color: color(teal);
      }
      .figure {
        margin-bottom: grid(3);
      }
    }
    p.cta {
      a {
        border-color: color(white);
        color: color(white);
        svg {
          fill: color(white);
        }
        &:focus,
        &:hover {
          background: color(teal);
        }
      }
    }
  }

  // Desktop styles
  @include media-md {
    .block-text {
      &.-halfWidth {
        clear: left;
      }
    }
    .footer-outro {
      .lines.-two i {
        border-color: color(teal);
      }
    }
  }
}

// Homepage-specific header with staggered images
.homepage-header {
  @include clearfix;
  padding-bottom: grid(5);

  h3 {
    color: color(red);
  }
  .image-wrap {
    margin-bottom: grid(3);
  }
  .staggered-image:nth-child(1) {
    width: columns(7);
  }
  .staggered-image:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: grid(-6);
    width: columns(4);
  }

  // Style decorative lines in header
  .lines.-one {
    left: 50%;
    width: 100vw;
    transform: translate(-50vw, grid(4));
    i:nth-child(n+7) {
      display: none;
    }
  }
  .lines.-two {
    display: none;
  }

  .header-wrap {
    width: columns(7);
  }

  .body-wrap {
    margin-top: grid(2);
  }

  // Desktop styles
  @include media-nav {
    padding-top: grid(1);
    padding-bottom: grid(12);

    p {
      @include p1;
    }

    .lines.-one {
      width: calc(100vw - #{columns(1)});
      transform: translate(-50vw, grid(8));
      i:nth-child(n+7) {
        display: block;
      }
    }
    .lines.-two {
      display: block;
      width: 70px;
      left: 0;
      top: calc(100% + #{grid(5)});
    }

    .image-wrap {
      margin: 0 columns(-1) grid(10) columns(-1);
    }
    .staggered-image:nth-child(1) {
      width: columns(7);
    }
    .staggered-image:nth-child(2) {
      right: 0;
      width: columns(4);
      bottom: -125px;
    }

    .header-wrap {
      width: columns(5);
    }

    .body-wrap {
      float: right;
      width: calc(#{columns(4)} - #{$gutter});
      margin-top: 0;
    }

    p.cta {
      width: calc(#{columns(4)} - #{$gutter});
      float: right;
    }

  }

}

// Focus areas intro block only on homepage
.focus-areas-intro {
  background: color(teal);
  color: color(lightgray);
  @include clearfix;
  .header-wrap {
    div.divot {
      margin: grid(3) 0 grid(4);
      background: color(red);
    }
  }
  .lines {
    display: none;
  }
  .body-wrap {
    ol {
      list-style: none;
      counter-reset: rotundog;
      li {
        counter-increment: rotundog;
        margin: grid(4) 0 ;
        &::before {
          content: "0" counter(rotundog);
          @include h4-mobile;
          color: color(red);
          display: block;
          margin: 0 0 grid(1);
        }
        h4 {
          @include h4-mobile;
          margin: 0 0 grid(1);
        }
        p {
          @include p4;
        }
      }
    }
  }

  // Desktop styles
  @include media-md {
    .lines {
      display: block;
      width: 100vw;
      left: 50%;
      transform: translate(-50vw, grid(8));
      border-color: color(red);
    }
    .header-wrap {
      width: columns(4);
      margin-right: columns(2);
      margin-top: grid(6);
      float: left;
    }
    .body-wrap {
      width: columns(3);
      float: left;
      padding-top: grid(16);
      ol {
        li {
          + li {
            margin-top: grid(4);
          }
          h4 {
            @include h4;
          }
          p {
            @include p3;
          }
        }
      }
    }
  }
}
