// Privacy Policy

.page-privacy-policy {

  // More spacious text
  .user-content {
    * + * {
      margin-top: grid(2);
      @include media-md {
        margin-top: grid(3);
      }
    }
    ol,
    ul {
      @include p2;
      padding: 0 0 0 3.6em;
      li {
        margin: 0 0 grid(2);
        > ul {
          margin-top: grid(2);
        }
      }
    }
  }

}
